@import './var';
// 字體
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Noto+Sans+TC&family=Open+Sans&family=Oswald&family=Roboto:ital,wght@1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

.container {
    max-width: 732px;
}

.title_h2 {
    font-size: $fontsize2;

    @media screen and (max-width:500px) {
        font-size: $fontsize3
    }
}

p {
    @media screen and (max-width:500px) {
        font-size: 12px;
    }
}

// 導覽列文字
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
    font-size: 16px;
    color: black;
}

#header {
    position: fixed;
    top: 20px;
    z-index: 1;
    font-size: 16px;

    @media screen and (max-width:500px) {
        font-size: 12px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width:500px) {
            margin: 0;
            padding: 0;
        }

        li {
            min-width: 60px;
            margin: 0 20px;
            list-style: none;

            @media screen and (max-width:500px) {
                margin: 0 10px;
            }

            a {
                color: black;

            }
        }

    }
}

#fullpage {
    background-color: $bg_color;

    .landing_section {

        background: radial-gradient(circle, rgba(249, 244, 237, 1) 17%, rgba(237, 249, 237, 1) 86%);

        .container {

            .landing_img_area {
                position: relative;
                img {
                    position: absolute;
                    transition: 2s;
                    left: 0;
                    @media screen and (max-width:500px) {
                        width: 100%;
                    }
                }

                .landing_img1 {
                    left: 70px
                }

                .landing_img3 {
                    left: -70px;
                }
            }

            .landing_title {
                top: -50px;
                position: relative;
                .title {
                    font-size: $fontsize1;
                    font-family: "Roboto";
                    text-shadow: 4px 4px white;
                    font-weight: 800;
                }
            }
        }
    }

    .profile_section {
        background: radial-gradient(circle, rgba(249, 244, 237, 1) 17%, rgba(237, 249, 237, 1) 86%);
    }

    .skill_section {
        background: radial-gradient(circle, rgba(249, 244, 237, 1) 17%, rgba(237, 249, 237, 1) 86%);

        .container {

            .skill_content {
                a{
                    color: black;
                    margin: 0 15px;
                }
                .collapse:focus,
                .collapse .card.card-body,
                .collapsing .card.card-body {
                    background-color: $bg_color;
                    border: 0;

                    @media screen and (max-width:500px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .project_section {
        background: radial-gradient(circle, rgba(249, 244, 237, 1) 17%, rgba(237, 249, 237, 1) 86%);

        .container {
            .fp-slides {
                // max-width: 90%;
                // margin: auto;
            }

            .slide {
                .slide_content {
                    padding: 0 15px;
                    .slide_content_top {
                        h4 {
                            @media screen and (max-width:500px) {
                                font-size: 18px;
                            }
                        }

                        .img_area {
                            @media screen and (max-width:500px) {
                                padding: 0;
                            }

                            img {
                                width: 100%;

                                @media screen and (max-width:500px) {
                                    width: 95%;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }

            }

            .fp-prev {
                left: -30px;
                border-color: transparent rgba(0, 0, 0, 0.500);

                @media screen and (max-width:500px) {
                    display: none;
                }
            }

            .fp-next {
                right: -30px;
                border-color: transparent rgba(0, 0, 0, 0.500);

                @media screen and (max-width:500px) {
                    display: none;
                }
            }
        }
    }

    .note_section {
        background: radial-gradient(circle, rgba(249, 244, 237, 1) 17%, rgba(237, 249, 237, 1) 86%);

        .container {
            .note_content {
                .note_card {
                    .card_title {
                        font-size: $fontsize3;
                    }

                    .note_date {
                        font-size: $fontsize4;
                    }

                    .note_tag {
                        font-size: $fontsize4;
                        padding: 1px 5px;
                        border-radius: 1px;
                        background-color: rgba(128, 128, 128, 0.7);
                    }
                }
            }
        }
    }
}